# Node (root y server)
node_modules/
server/node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Builds / bundles
dist/
build/
.out/
.next/
.vercel/
coverage/
*.log

# Caches / herramientas
.eslintcache
.cache/
.turbo/
*.tgz

# Env y secretos
.env
.env.*
!.env.example
server/.env
server/.env.*
!server/.env.example
*.pem
*.key
.envrc

# SO / IDE
.DS_Store
Thumbs.db
.vscode/
.idea/

# (Opcional) Bases locales (si usas SQLite en dev)
server/prisma/*.db
server/prisma/*.db-journal
*.sqlite
*.db
*.db-journal
